{% extends 'base.html.twig' %}
{% use 'home/map.html.twig' %}
{% use 'home/script.html.twig' %}

{% set modal %}
	{% include ('home/modal.html.twig') %}
{% endset %}

{% block title %}Civitas Home{% endblock %}

{% block body %}

    {% for message in app.flashes('fail') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


{% if is_granted('ROLE_USER') %}
    <div id="mapid" class="fill" data-centre="{{ centre|json_encode|e('html_attr') }}" data-contour="{{ contour|json_encode|e('html_attr') }}" data-problemes="{{ problemes|json_encode|e('html_attr') }}"></div>
    {{ modal }}
{% else %}
    <div class="fill">
        <div class="container">
            <a href="/login" type="button" style="margin-top:25%;" class="btn btn-success btn-lg btn-block">Se connecter <i class="fa fa-user"></i></a>
        </div>
    </div>
{% endif %}



{% endblock %}

{% block map %} {{ parent() }} {% endblock %}
{% block moreScript %} {{ parent() }} {% endblock %}

