{% extends 'base.html.twig' %}

{% block title %}Interface Technicien{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Gestion de vos interventions</h1>
		</div>
	</div>
	<div class="container">
		<div>
			<h4>
				<i class="fa fa-calendar-plus text-danger"></i>
				 Nouvelles interventions
				{% if new_interventions|length > 0 %} 
					<span class="badge badge-pill badge-danger font-weight-light align-middle date_hs">
						{{new_interventions|length }}
					</span>
				{% endif %}
			</h4>
			<div class="historique border border-primary list-group list-group-flush">
				{% for intervention in new_interventions %}
					<div class="row list-group-item mx-1">
						<div class="col-md flex-center">
							<div>
								<h4>
									<a href="{{ path('intervenir_show', {'id': intervention.id}) }}">
										{{ intervention.Probleme.titre|capitalize }}
									</a>
									<span class="badge badge-secondary date_hs ml-1 align-middle">
		                            	{{ (intervention.HistoriqueStatutInterventions|last).date ? (intervention.HistoriqueStatutInterventions|last).date|date('d-m-Y H\\hi') : '' }}
		                        	</span>
								</h4>
								<p class="mb-0">
									<span class="badge badge-info date_hs mr-1 align-middle mb-1">
										Instructions
									</span>
                        			<i class="fa fa-arrow-right text-primary mr-1"></i>
									{{ intervention.description ? intervention.description|capitalize : "Pas d'instructions pour cette intervention." }}
								</p>
							</div>
						</div>
						<div class="col-md btn-group mt-1" role="group">
							<a class="btn btn-success flex-center justify-center" href="{{ path('intervenir_accept', {'id': intervention.id, 'choice': 1}) }}"><i class="fa fa-check mr-1"></i> Accepter</a>
						
							<a class="btn btn-danger flex-center justify-center" href="{{ path('intervenir_accept', {'id': intervention.id, 'choice': 0}) }}"><i class="fa fa-times mr-1"></i> Refuser</a>
						</div>
					</div>
				{% else %}
					<div class="row">
						<div class="col-md text-primary">
							Pas de nouvelle intervention pour le moment <i class="fa fa-hourglass-half"></i>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="section">
			<h4><i class="fa fa-hourglass-half text-info"></i> Interventions en cours</h4>
			<div class="historique border border-primary list-group list-group-flush">
				{% for intervention in in_progress_interventions %}
					<div class="row list-group-item mx-1">
						<div class="col-md-6 flex-center">
							<div>
								<h4>
									<a href="{{ path('intervenir_show', {'id': intervention.id}) }}">
										{{ intervention.Probleme.titre|capitalize }}
									</a>
									<span class="badge badge-secondary date_hs ml-1 align-middle">
		                            	{{ (intervention.HistoriqueStatutInterventions|last).date ? (intervention.HistoriqueStatutInterventions|last).date|date('d-m-Y H\\hi') : '' }}
		                        	</span>
								</h4>
								<p class="mb-0">
									<span class="badge badge-info date_hs mr-1 align-middle mb-1">
										Instructions
									</span>
                        			<i class="fa fa-arrow-right text-primary mr-1"></i>
									{{ intervention.description ? intervention.description|capitalize : "Pas d'instructions pour cette intervention." }}
								</p>
							</div>
						</div>
						<div class="col-md flex-center col-fill px-1 my-1">
							<a class="btn btn-warning btn-block flex-center justify-center" href="{{ path('intervenir_suspend', {'id': intervention.id}) }}"><i class="fa fa-pause-circle mr-1"></i>Suspendre</a>
						</div>
						<div class="col-md flex-center col-fill px-1 my-1">
							<a class="btn btn-secondary btn-block flex-center justify-center" href="{{ path('compte_rendu_new', {'probleme': intervention.Probleme.id}) }}"><i class="fa fa-plus-circle mr-1"></i> Ajouter un compte rendu</a>
						</div>
						<div class="col-md flex-center col-fill px-1 my-1">
							<a class="btn btn-success btn-block flex-center justify-center" href="{{ path('intervenir_resolve', {'id': intervention.id}) }}"><i class="fa fa-check-circle mr-1"></i> Terminer l'intervention</a>
						</div>
					</div>
				{% else %}
					<div class="row">
						<div class="col-md text-primary">
							Pas d'intervention en cours pour le moment <i class="fa fa-hourglass-half"></i>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="section">
			<h4><i class="far fa-clipboard text-primary"></i> Interventions acceptées</h4>
			<div class="historique border border-primary list-group list-group-flush">
				{% for intervention in affected_interventions %}
					{% set statut = (intervention.HistoriqueStatutInterventions|last).StatutIntervention.nom %}
					<div class="row list-group-item mx-1">
						<div class="col-md flex-center">
							<div>
								<h4>
									<a href="{{ path('intervenir_show', {'id': intervention.id}) }}">
										{{ intervention.Probleme.titre|capitalize }}
									</a>
									<span class="badge badge-secondary date_hs ml-1 align-middle">
		                            	{{ (intervention.HistoriqueStatutInterventions|last).date ? (intervention.HistoriqueStatutInterventions|last).date|date('d-m-Y H\\hi') : '' }}
		                        	</span>
								</h4>
								<p class="mb-0">
									<span class="badge badge-info date_hs mr-1 align-middle mb-1">
										Instructions
									</span>
                        			<i class="fa fa-arrow-right text-primary mr-1"></i>
									{{ intervention.description ? intervention.description|capitalize : "Pas d'instructions pour cette intervention." }}
								</p>
							</div>
						</div>
						<div class="col-md btn-group mt-1" role="group">
							{% if statut == "Acceptée" %}
								<a class="btn btn-success flex-center justify-center" href="{{ path('intervenir_run', {'id': intervention.id}) }}"><i class="fa fa-tools mr-1"></i> Effectuer l'intervention</a>
							{% else %}
								<a class="btn btn-warning flex-center justify-center" href="{{ path('intervenir_run', {'id': intervention.id}) }}"><i class="fa fa-play-circle mr-1"></i> Reprendre l'intervention</a>
							{% endif %}
							<a class="btn btn-danger flex-center justify-center" href="{{ path('intervenir_abort', {'id': intervention.id}) }}"><i class="fa fa-power-off mr-1"></i> Annuler l'intervention</a>
						</div>
					</div>
				{% else %}
					<div class="row">
						<div class="col-md text-primary">
							Pas d'intervention acceptée pour le moment <i class="fa fa-hourglass-half"></i>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="section mb-5">
			<a class="text-primary" data-toggle="collapse" href="#historique_intervention"aria-expanded="false" aria-controls="historique_intervention">
			    <h4><i id="drop-icon" class="fa fa-chevron-circle-up"></i> Historique des interventions</h4>
			</a>
			<div class="collapse" id="historique_intervention">
				<div class="card card-body">
					<div class="list-group">
						{% for intervention in others_interventions %}
							{% set statut = (intervention.HistoriqueStatutInterventions|last).StatutIntervention.nom %}
							<div class="list-group-item">
								<span class="badge badge-secondary date_hs mr-1">
                            		{{ (intervention.HistoriqueStatutInterventions|last).date ? (intervention.HistoriqueStatutInterventions|last).date|date('d-m-Y H\\hi') : '' }}
                        		</span>
								{% if statut == "Terminée" %}
									<span class="badge badge-success mr-1">
								{% else %}
									<span class="badge badge-danger mr-1">
								{% endif %}
                            	{{ statut }}
                        		</span>
								<a class="stretched-link" href="{{ path('intervenir_show', {'id': intervention.id}) }}">
									{{ intervention.Probleme.titre|capitalize }}
								</a>
							</div>
						{% else %}
							<div class="list-group-item">
								<i class="fa fa-times-circle"></i> Pas d'intervention dans l'historique
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>		
	</div>
	
{% endblock %}
{% block moreScript %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#historique_intervention').on('shown.bs.collapse', function () {
			  	$('#drop-icon').attr('class', 'fa fa-chevron-circle-down');
			});
			$('#historique_intervention').on('hidden.bs.collapse', function () {
			  	$('#drop-icon').attr('class', 'fa fa-chevron-circle-up');
			});
		});
	</script>
{% endblock %}