{% extends 'base.html.twig' %}

{% block title %}Interface Technicien{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Gestion de vos interventions</h1>
		</div>
	</div>
	<div class="container">
		<div>
			<h4><i class="fa fa-calendar-plus text-danger"></i> Nouvelles interventions</h4>
			<div class="historique border border-primary">
				{% for intervention in new_interventions %}
					<div class="row">
						<div class="col-md-8 flex-center">
							<span class="badge badge-secondary date_hs mr-1">
                            	{{ (intervention.HistoriqueStatutInterventions|last).date ? (intervention.HistoriqueStatutInterventions|last).date|date('d-m-Y H\\hi') : '' }}
                        	</span>
                        	<i class="fa fa-arrow-right text-primary mr-1"></i>
							<a href="{{ path('intervenir_show', {'id': intervention.id}) }}">
								{{ intervention.Probleme.titre }}
							</a>
						</div>
						<div class="col-md-4 btn-group" role="group">
							<a class="btn btn-success" href="{{ path('intervenir_accept', {'id': intervention.id, 'choice': 1}) }}"><i class="fa fa-check"></i> Accepter</a>
						
							<a class="btn btn-danger" href="{{ path('intervenir_accept', {'id': intervention.id, 'choice': 0}) }}"><i class="fa fa-times"></i> Refuser</a>
						</div>
					</div>
				{% else %}
					<div class="row">
						Pas de nouvelle intervention pour le moment <i class="fa fa-hourglass"></i>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="section">
			<h4><i class="fa fa-hourglass-half text-info"></i> Intervention en cours</h4>
			<div class="historique border border-primary">

			</div>
		</div>

		<div class="section">
			<h4><i class="far fa-clipboard text-primary"></i> Intervention acceptée</h4>
			<div class="historique border border-primary">

			</div>
		</div>

		<div class="section">
			<h4><i class="far fa-clipboard text-primary"></i> Boutons</h4>
			<div class="list-group mb-3">
				<a class="list-group-item list-group-item-action list-group-item-info" href="{{ path('probleme_index') }}"><i class="fa fa-list"></i> Liste des problèmes de la commune</a>
				<a class="list-group-item list-group-item-action list-group-item-info" href="{{ path('probleme_index', {'tri': 'true', 'statuts': 'nouveau'}) }}"><i class="fa fa-bell"></i> Liste des nouveaux problèmes de la commune</a>
			</div>
		</div>
		
	</div>
	
{% endblock %}