{{ form_start(form) }}
    <div class="row" style="margin: 0 auto;">
        <div class="col-3">
            {{ form_label(form.nom, "Nom") }}
            {{ form_widget(form.nom, {'value': active_nom, 'attr': {'class': 'form-control mb-5', 'placeholder': 'nom du problème'}}) }}
        </div>
        <div class="col-3">
            {{ form_label(form.categories, "Catégorie") }}
            {{ form_widget(form.categories, {'attr': {'class': 'custom-select form-control selectpicker mb-5'}}) }}
        </div>
        <div class="col-2">
            {{ form_label(form.statuts, "Statut") }}
            {{ form_widget(form.statuts, {'attr': {'class': 'custom-select form-control selectpicker mb-5'}}) }}
        </div>
        <div class="col-2">
            {{ form_label(form.element, "Nombre d'éléments") }}
            {{ form_widget(form.element, {'value': active_categories, 'attr': {'class': 'custom-select form-control selectpicker mb-5'}}) }}
        </div>
        <div class="col">
            <button type="submit" class="btn btn-block btn-success mb-5 form-bottom"><i class="fa fa-search"></i></button>
        </div>
        <div class="col">
            <a href={{ path("probleme_search_reset") }} class="btn btn-secondary text-white form-bottom mb-5 ml-3"><i class="fa fa-times"></i></a>
        </div>
    </div>
{{ form_end(form) }}