{% extends 'base.html.twig' %}

{% block title %}Intervenir{% endblock %}

{% block body %}
   
    <div class="jumbotron jumbotron-fluid mb-1">
        <div class="container">
            <div class="row">
                <div class="col-11">
                    <h1 class="display-4">
                        Intervention <span class="h4">n°{{intervenir.id}}                       
                    </h1>
                </div>
                <div class="col-1 text-right p-3">
                    <button id="delete_probleme_button" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal_delete" title="Supprimer le probleme">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
            <p class="lead">
                <a class="text-info" href={{ path('personne_show', {'id': intervenir.Personne.id}) }} data-toggle="tooltip" data-placement="bottom" title="Technicien chargé du problème"><i class="fa fa-user"></i> {{ intervenir.Personne.username }}</a>
                <i class="fa fa-arrow-right"></i>
                <a class="text-info" href={{ path('probleme_show', {'id': intervenir.Probleme.id}) }} data-toggle="tooltip" data-placement="bottom" title="Problème sur lequel travaille le technicien"><i class="fa fa-clipboard"></i> {{ intervenir.Probleme.titre }}</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row section">
            <div class="col"> 
                <h4 class="text-primary">
                    <span class="text-info">
                        <i class="fa fa-file-alt"></i>
                    </span>
                    Liste des comptes-rendus
                </h4>
            </div>
            <div class="col text-right">
                <h4 class="text-primary ">
                    <a href={{ path('compte_rendu_new', {'probleme': intervenir.Probleme.id}) }} data-toggle="tooltip" data-placement="right" title="Ajouter un compte-rendu"><i class="fa fa-plus-circle text-primary"></a></i>
                </h4>
            </div>
        </div>
        {% if intervenir.CompteRendus|length > 0 %}
            <div class="historique border border-primary mb-3">
                    <ul class="list-group">
                        {% for cr in intervenir.CompteRendus %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4>
                                            {{cr.titre}}
                                            <span class="badge badge-pill badge-secondary date_hs">
                                                {{cr.date ? cr.date|date('d-m-Y H\\hi') : ''}}
                                            </span>
                                        </h4>
                                        <p>{{cr.description ? cr.description : "Pas de description pour ce compte-rendu" }}</p>
                                    </div>
                                    <div class="col-md-4 flex-center">
                                        <a class="btn btn-link" href={{ path('download_file', {'urlFile': cr.urlDocument}) }}>
                                            <i class="fa fa-link"></i> Télécharger le compte-rendu
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
            </div>
        {% else %}
            <div class="historique border border-primary mb-3">
                Il n'y a encore aucun compte-rendu pour cette intervention. Cliquez <a class="text-info font-weight-bold" href={{ path('compte_rendu_new', {'probleme': intervenir.Probleme.id}) }}>ici</a> pour en ajouter un.
            </div>
        {% endif %}

    </div>
    

    
{% endblock %}
{% block moreScript %}
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip();
        $('#delete_probleme_button').tooltip({ 
            placement: 'right'
        });
        $('[data-spy="scroll"]').each(function () {
            var $spy = $(this).scrollspy('refresh')
        });
        $('#test-collapse').collapse();
    </script>
{% endblock %}