{{ form_start(form) }}
    {{ form_widget(form) }}
   <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% if is_granted('ROLE_USER') %}
<a href={{ path("personne_editPassword") }}> Modifier mon mot de passe</a> <br>
{% endif %}