{% extends 'base.html.twig' %}
{% use 'statut/base.html.twig' %}

{% block title %}Edit Statut{% endblock %}

{% block moreStyle %} {{ parent() }} {% endblock %}

{% block body %}
    <h1>Edit Statut</h1>

    {{ include('statut/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('statut_index') }}">back to list</a>

{#    {{ include('statut/_delete_form.html.twig') }}#}
{% endblock %}

{% block moreScript %} {{ parent() }} {% endblock %}