{{ form_start(form) }}
    {{ form_row(form.role) }}
    {{ form_row(form.Permissions,
        {'attr':
            {'class':
                'form-control selectpicker'
            }
        }
    )}}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
