{{ form_start(form) }}
	<div class="form-group">
    	{{ form_row(form.nom) }}
    </div>
    <div class="form-group">
    	{{ form_row(form.code, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
    	{{ form_row(form.Service, {'attr': {'class': 'form-control selectpicker'}}) }}
    </div>
	<div class="form-group">
		{{ form_row(form.imageBackground) }}
	</div>
    <div class="row">
    	<div class="col">
	    	<a class="btn btn-primary btn-lg btn-block" href="{{ path('commune_index') }}">back to list</a>
		</div>
    	<div class="col">
    		<button class="btn btn-success btn-lg btn-block">{{ button_label|default('Save') }}</button>
    	</div>
    </div>
{{ form_end(form) }}
