{{ form_start(form) }}
    <div class="form-group">
    	{{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.couleur)}}
    	{{ form_row(form.couleur)}}
    	<input type="hidden" class="colorpicker">
    </div>
    {{ form_label(form.icone)}}
    <div class="form-group">
    	<div class="btn-group">
            <button data-selected="graduation-cap" type="button"
                    class="icp icp-dd btn btn-primary dropdown-toggle iconpicker-component"
                    data-toggle="dropdown">
                Icône : <i class="fa fa-fw"></i>
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu"></div>
        </div>
    </div>
    {{ form_row(form.icone) }}
    <div class="row">
        <div class="col">
            <a class="btn btn-primary btn-lg btn-block" href="{{ path('categorie_index') }}">back to list</a>
        </div>
        <div class="col">
            <button class="btn btn-success btn-lg btn-block">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
