{% use 'assets/navbar.html.twig' %}
{% use 'assets/css_import.html.twig' %}
{% use 'assets/js_import.html.twig' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block importcss %}{{ parent() }}{% endblock %}
        {% block moreStyle %}{% endblock %}
    </head>
    <body>
        {% block navbar %}{{ parent() }}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        	{{ encore_entry_script_tags('app') }}
        {% endblock %}
        {% block importjs %}{{ parent() }}{% endblock %}
        {% block map %}{% endblock %}
        {% block autoSearch %}{% endblock %}
        {% block moreScript %}{% endblock %}
    </body>
</html>
