{% extends 'base.html.twig' %}
{% use 'categorie/assets/base.html.twig' %}
{% set modal_delete %}
    {% include 'categorie/assets/modal_delete.html.twig' %} 
{% endset %}

{% block title %}Éditer Categorie{% endblock %}

{% block moreStyle %} {{ parent() }} {% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
		<div class="container">
			<div class="row">
                <div class="col">
					<h1 class="display-4">Édition "{{categorie}}"</h1>
                </div>
                <div class="col text-right p-3">
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
		</div>
	</div>
	<div class="container">
    	{{ include('categorie/forms/_form.html.twig', {'button_label': 'Update'}) }}
    	{{ include('categorie/forms/_delete_form.html.twig') }}
	</div>

	{{modal_delete}}

{% endblock %}

{% block moreScript %} {{ parent() }} {% endblock %}